<mat-toolbar color="primary" class="mat-elevation-z6 toolbar">
    <div class="logo">
      <span class="logo-text" routerLink="/home">Árukereső</span>
    </div>
  
    <div class="search-container">
      <app-search-form (search)="onSearch($event)"></app-search-form>
    </div>
  
    <div class="icon-group">
      
      <button mat-icon-button aria-label="Kedvencek" routerLink="/profile">
        <mat-icon>favorite</mat-icon>
      </button>
  
      <button *ngIf="isLoggedIn" mat-icon-button aria-label="Profil" routerLink="/profile">
        <mat-icon>account_circle</mat-icon>
      </button>

      <button *ngIf="!isLoggedIn" mat-button aria-label="Bejelentkezés" routerLink="/login">
        Bejelentkezés
      </button>

      <button *ngIf="isLoggedIn" mat-button aria-label="Kijelentkezés" (click)="logout()">
        Kijelentkezés
      </button>
    </div>
  </mat-toolbar>